
.portfolio-filters li.active {
    color: #fff;
    background: #084b8a;
    border: 1px solid #084b8a;
}

.portfolio-filters li:hover {
    color: #fff;
    background: #084b8a;
    border: 1px solid #084b8a;
}


.portfolio-filters li {
    border: 1px solid #eee;
    border-radius: 30px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    margin-right: 5px;
    padding: 8px 40px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}

.ul, li {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.body {
    color: #212529;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    background: #fff;
}

.body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}


.html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.box .box-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transform: translate(0%, 0%);
    transition: all 0.5s ease 0s;
}


.box img {
    width: 100%;
    height: auto;
}
